@import "bootstrap-sprockets";
@import "bootstrap";

@-webkit-keyframes shake {
  0%, 100% {
    -webkit-transform: rotate(-4deg) translateY(-2px);
            transform: rotate(-4deg) translateY(-2px);
  }
  50% {
    -webkit-transform: rotate(4deg) translateY(2px);
            transform: rotate(4deg) translateY(2px);
  }
}

@keyframes shake {
  0%, 100% {
    -webkit-transform: rotate(-4deg) translateY(-2px);
            transform: rotate(-4deg) translateY(-2px);
  }
  50% {
    -webkit-transform: rotate(4deg) translateY(2px);
            transform: rotate(4deg) translateY(2px);
  }
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@-webkit-keyframes reverse_spin {
  0% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
  100% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}

@keyframes reverse_spin {
  0% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
  100% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}

#charlie {
  -webkit-animation: shake 0.09s infinite linear;
          animation: shake 0.09s infinite linear;
}

.charlie_container {
  -webkit-animation: spin 7.5s 2s infinite linear;
          animation: spin 7.5s 2s infinite linear;
}

.charlie_container_reverse {
  -webkit-animation: reverse_spin 10s 2.5s infinite linear;
          animation: reverse_spin 10s 2.5s infinite linear;
}

#top_row {
  margin-top: 90px;
}

#bot_row {
  margin-top: 100px;
}

body {
  background-color: #222;
}
